/* google font import - DMsans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "DM Sans", sans-serif;
}


/* utility classes */
.container {
  @apply max-w-[1300px] mx-auto py-0 px-[20px] tab:px-[40px];
}

.navlink {
  @apply text-gray-100 font-medium text-sm lg-1150:text-base active:text-blue-100 hover:text-blue-100 transition-all duration-300;
}

.gradient {
  background: linear-gradient(1turn, #7344fc, #1127E3);
}

.header {
  @apply top-20
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.isOpen {
  @apply block
}
