/* google font import - DMsans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "DM Sans", sans-serif!important;
  scroll-behavior: smooth;
}


/* utility classes */
.container {
  @apply max-w-[1300px] mx-auto py-0 px-[20px] tab:px-[40px];
}

.navlink {
  @apply text-gray-100 font-medium text-sm lg-1150:text-base active:text-blue-100 hover:text-blue-100 transition-all duration-300;
}

.footer_navlink {
  @apply text-sm transition-all duration-300 text-white font-normal hover:text-[hsla(0,0%,100%,.5)]
}

.gradient {
  background: linear-gradient(1turn, #7344fc, #1127E3);
}

.span_gradient {
  background: linear-gradient(180deg, #1127E3, #7344fc);
}

.header {
  @apply top-20
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed_center {
  position: fixed;
}

.isOpen {
  @apply block
}

.disable-scroll {
  overflow: hidden;
}

.features_grid {
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

/* swiper js styles */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(0,0,0,.1);
}

.pricing-list li {
  @apply flex text-left font-normal text-base leading-[18px] items-start justify-start mb-[22px] gap-[18px]
}

.scale-image:hover img {
  transform: scale(1.05);
  transition: all .8s ease-in;
  cursor: pointer;
}